on:
  push:
    branches: [main, staging, trying]
  pull_request:
    branches: [main]
  merge_group:
  workflow_dispatch:

name: Continuous integration

jobs:
  test:
    name: test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - i686-unknown-linux-musl

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          target: ${{ matrix.target }}
      - run: cargo test --target=${{ matrix.target }}
